/* 
    ----- SIDEBAR ----- 
*/
.sidebar {
    width: 20%;
    height: 100vh;
    background-color: var(--primary-color);
    box-sizing: border-box; /* Ensure padding is included in the element's dimensions */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* -- CONSTRAINTS -- */
.contenedor-constraints{
    text-align: left;
}
.constraint{
    margin-top: 30px;
}
.constraint-label{
    width: 100%;
    color: var(--white-color);
    font-size: 15px;
}
.constraint-input{
    background-color: transparent;
    border: 1px solid var(--white-color);
    margin-top: 5px;
    height: 25px;
    color: var(--white-color);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}
/* -- DISCARD/APPLY buttons -- */
.contenedor-descartar-generar {
    margin-top: auto; /* Push to the bottom of the sidebar */
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px; /* Add 10px gap between buttons */
}
.generate-button{
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    color: var(--white-color);
}
.generate-button:hover{
    padding: 10px 15px;
    background-color: var(--primary-color-hover);
    border: 1px solid var(--white-color-hover);
    border-radius: 5px;
    color: var(--white-color-hover);
}
.discard-button{
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid var(--red-color);
    border-radius: 5px;
    color: var(--red-color);
}
.discard-button:hover{
    padding: 10px 25px;
    background-color: var(--primary-color-hover);
    border: 1px solid var(--red-color-hover);
    border-radius: 5px;
    color: var(--red-color-hover);
}



/*

    ----- MAIN -----

*/
.mainContainer{
    width: 75%;
    text-align: left;
}
.mainContainer h4 {
    text-align: left;
}
.bottomContainer{
    display: flex;
}

/*
    -- FILTER COMPONENT --
*/
.filterComponent{
    padding: 25px;
}
.filterContainer{
    border: 1px solid var(--black-color);
    height: 50px;
    padding: 25px;
}

/*
    -- CALENDAR COMPONENT --
*/
.calendarComponent{
    padding: 25px;
}
.calendarContainer{
    border: 1px solid var(--black-color);
    height: 500px;
    padding: 25px;
}

/*
    -- ALERTS CONTAINER --
*/
.alertsComponent{
    padding: 25px;
    width: 75%;
}
.alertsContainer{
    border: 1px solid var(--red-color);
    height: 50px;
    padding: 25px;
}

/*
    -- FINAL BUTTONS CONTAINER --
*/
.finalButtonsComponent{
    width: 25%;
    padding: 25px;
}
.apply-calendar-button{
    width: 100%;
    padding: auto 15px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
}